body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.drop-material-shadow {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.26);
  transition: box-shadow 0.2s ease-in-out
}

.drop-material-shadow:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.23);
}